<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Prueba Tecnica</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>Codigo</th>
          <th>email</th>
          <th>Comentario</th>
          <th>PC Preferida</th>
          <th>Fecha</th>
        </tr>
        </thead>
        <tbody>

        <tbody>
        <tr *ngFor="let persona of personas" class="text-center">
          <td>{{persona.id}}</td>
          <td>{{persona.cod}}</td>
          <td>{{persona.email}}</td>
          <td>{{persona.comment}}</td>
          <td>{{persona.pc}}</td>
          <td>{{persona.fecha}}</td>
          <td>
            <button (click)="Editar(persona)" class="btn btn-warning">Editar</button>
            <button (click)="Delete(persona)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
