<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Username</label>
  <input [(ngModel)]="usuario.name" type="email" class="form-control">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Password</label>
  <input [(ngModel)]="usuario.password" type="password" class="form-control">
</div>
<button class="btn btn-primary" (click)="logIn()">Ingresar</button>
