<h1 class="text-center">{{ title }}</h1>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"> Prueba Tecnica </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" (click)="listar()">Listar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="Agregar()">Agregar</a>
        </li>
      </ul>
      <span class="nav-item">
         <a class="nav-link" (click)="Login()">Login</a>
      </span>
    </div>
  </div>
</nav>
<hr>

<router-outlet></router-outlet>
