<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>ENCUESTA</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="">N°Documento</label>
          <input [(ngModel)]="persona.cod" name="name" type="number" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input [(ngModel)]="persona.email" name="name" type="email" class="form-control" required>
         <div *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
           Email incorrecto
         </div>
          <div *ngIf="emailFormControl.hasError('required')">
            Email es <strong>requerido</strong>
          </div>
        </div>
        <div class="form-group is-invalid">
          <label for="">Comentario</label>
          <input [(ngModel)]="persona.comment" name="comentario" cltype="text" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="inputState">Marca Favorita PC</label>
          <select id="inputState"  class="form-control" [(ngModel)]="persona.pc" name="pc" required>
            <option selected>Seleccione Opción ..</option>
            <option value="Asus">Asus</option>
            <option value="HP">HP</option>
            <option value="DELL">DELL</option>
          </select>
        </div>

        <hr>
        <div class="form-group">
          <button (click)="Guardar()" class="btn btn-danger">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
