<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Modificar Datos</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="">N°Documento</label>
          <input [(ngModel)]="persona.cod" name="name" type="number" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input [(ngModel)]="persona.email" name="name" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Comentario</label>
          <input [(ngModel)]="persona.comment" name="comentario" cltype="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Marca Favorita PC</label>
          <input [(ngModel)]="persona.pc" name="pc" cltype="text" class="form-control">
          <button (click)="Actualizar(persona)" class="btn btn-danger">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
